@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@model ProjectBlake.Models.DocusignViewModel

<div class="jumbotron">
    <h1>Consent From DocuSign</h1>
    <p><a href="https://developers.docusign.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col">
        
        <h2>Code</h2>
        <div class="alert alert-success">Value of the `code` URL param. Exchange this value for an access token by POSTing to https://{oauthBasePath}/oauth/token.</div>
        <pre>@Model.Code</pre>

        <h2>Auth Grant Token</h2>
        <div class="alert alert-success">The token for which we got when exchanging `code`. This access token is obtainable only if the user logs in and is redirected to our endpoint.</div>
        <pre>@Model.AuthGrantTokenContent</pre>

        <h2>OAuth User Token Data</h2>
        <div class="alert alert-success">We exchanged `code` for an access token and now find out who owns the token.</div>
        <pre>@Model.UserContent</pre>

        <h2>Signed JWT we generate</h2>
        <div  class="alert alert-success">Debug info just to see the JWT we build/craft in code. We can *always* exchange a JWT for an access_token.</div>
        <pre>@Model.JwtToken</pre>

        <h2>User Access Token Response</h2>
        <div class="alert alert-success">Response we get from DS for POSTing the above JWT to https://{oauthBasePath}/oauth/token.</div>
        <pre>@Model.JwtPostContent</pre>

        <h2>Your email address</h2>
        <div  class="alert alert-success">We use your email address to get your User Id from Docusign.</div>
        @using (Html.BeginForm("TokenPost", "Home", FormMethod.Post))
        {
            <input type="email" id="email" name="email" class="form-control" />

            <input type="submit" value="Submit" />
        }
    </div>
</div>
